.field {
  display: flex;
  flex-direction: column;
  font-family: system-ui;
  font-size: 1rem;
}

.label {
  margin-left: var(--s1);
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.2rem;
  font-weight: 600;
}

.error {
  color: #ffb4a8;
  font-weight: bold;
  margin-top: var(--s1);
}
